* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
}

li {
  list-style-position: inside;
  padding-left: 2rem;
  text-indent: -2rem;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Global styles*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #000;
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: antiquewhite;
  padding: 2rem;
}

article {
  flex-basis: 30rem;
  height: 50rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 2rem;
}

h2 {
  font-weight: 600;
  font-size: 2.4rem;
}

h3 {
  font-weight: 700;
  color: #111111;
  font-size: 3.2rem;
}

li {
  color: #717171;
  font-size: 1.5rem;
}

.free-price p {
  font-weight: 500;
  color: #666666;
  font-size: 2rem;
}

.free-description {
  font-weight: 400;
  color: #555555;
  font-size: 1.6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.master-price p {
  font-weight: 500;
  color: #666666;
  font-size: 2rem;
}

.master-description {
  font-weight: 400;
  color: #555555;
  font-size: 1.6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sea-boss-price p {
  font-weight: 500;
  color: #666666;
  font-size: 2rem;
}

.sea-boss-description {
  font-weight: 400;
  color: #555555;
  font-size: 1.6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
  padding: 1.5rem 4rem;
  border-radius: 1rem;
}

.free-btn {
  background-color: #3b82f6;
}

.master-btn {
  background-color: #6d28d9;
}

.sea-boss-btn {
  background-color: #10b981;
}
