* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #000;
  background-color: #fff;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  color: antiquewhite;
}
