* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #000;
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: antiquewhite;
  padding: 2rem;
}

article {
  width: 30rem;
  height: 50rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 700;
}

.free-price p {
  font-weight: 500;
}

.free-description {
  font-weight: 400;
}

.master-price p {
  font-weight: 500;
}

.master-description {
  font-weight: 400;
}

.sea-boss-price {
  font-weight: 500;
}

.sea-boss-description {
  font-weight: 400;
}
